<div class="b-example-divider"></div>

<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a target="blank" href="https://bee-rp2j.onrender.com/" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a target="blank" href="https://bee-rp2j.onrender.com/learn" class="nav-link px-2 text-body-secondary">learn</a></li>
      <li class="nav-item"><a target="blank" href="https://bee-rp2j.onrender.com/donate_item" class="nav-link px-2 text-body-secondary">donate item</a></li>
      <li class="nav-item"><a target="blank" href="https://bee-rp2j.onrender.com/buy_item" class="nav-link px-2 text-body-secondary">buy item</a></li>
      <li class="nav-item"><a target="blank" href="https://bee-rp2j.onrender.com/blogs" class="nav-link px-2 text-body-secondary">blog</a></li>
      <li class="nav-item"><a target="blank" href="https://bee-rp2j.onrender.com/faq" class="nav-link px-2 text-body-secondary">FAQ</a></li>
      <li class="nav-item"><a target="blank" href="https://bee-rp2j.onrender.com/about" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2024 BEE, Inc</p>
  </footer>
</div>