<div class="border-bottom row" 
  class="bodytext"
  style="margin-bottom:16px
  ">
  <div class="col-9">
    <h4 style="color:rgb(50,100,200);
      font-family: serif, sans-serif, monospace, cursive;
      margin-bottom:4px;
      padding-bottom:8px;">
      {{item['title']}}       
    </h4>
          <div class="content">
             <b>Price :</b>{{item['price']}}
          </div>
          {% if 'Availability' in item %} 
          <div class="content">              
             <b>Availability :</b>{{item['Availability']}}
          </div>
          {% endif %}
  </div>
  
  <div class="col-3">


        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=shrivastava.2004khushi@gmail.com&su=Request%20for%20{{item['title']}}&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0AMy%20branch%3A%20%3Cyour%20branch%20here%3E%0D%0AMy%20roll%20no%3A%20%3Cyour%20roll%20no%20here%3E%0D%0AMy%20Semester%3A%20%3Cyour%20semester%20here%3E%0D%0AMy%20contact%20no%3A%20%3Cyour%20contact%20no%20here%3E"> 
    <button-type="button" class="btn btn-outline-primary">
        Apply
      </button>
      </button-type>
    </a>
  </div>  
          
</div>